.PlaylistTitleImage {
  display: flex;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
  text-align: left;
}

.PlaylistTitleLarge {


}
.PlaylistTitleLarge-under12char {
  margin: 0.08em 0px 0.12em;
  visibility: visible;
  width: 100%;
  color: #fff;
  font-family: var(--font-family, CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
  font-weight: 900;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin-block: 0px;
  margin-left: 20px;
  font-size: 3.8rem;
}
.PlaylistTitleLarge-over11char {
  margin: 0.08em 0px 0.12em;
  visibility: visible;
  width: 100%;
  color: #fff;
  font-family: var(--font-family, CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
  font-weight: 900;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin-block: 0px;
  margin-left: 20px;
  font-size: 1.8rem;
}

.ArtistSpacing {
  grid-area: subtitle;
  grid-column-start: badges;
  margin-bottom: 4px;
  font-size: 12px;
}

@media(min-width: 840px) {
  .PlaylistTitleLarge-over11char {
    font-size: 1.8rem;
  }
  .PlaylistTitleLarge-under12char {
    font-size: 3.8rem;
  }
  .ArtistSpacing {
    font-size: 15px;
  }
}

@media(min-width: 1024px) {
  .PlaylistTitleLarge-over11char {
    font-size: 2.5rem;
  }
  .PlaylistTitleLarge-under12char {
    font-size: 4.8rem;
  }
}
@media(min-width: 1424px) {
  .PlaylistTitleLarge-over11char {
    font-size: 2.8rem;
  }
  .PlaylistTitleLarge-under12char {
    font-size: 5.5rem;
  }
}

.PlaylistOwner {
  font-weight: 700;
  color: #FFF;
}

.PlaylistDesc {
  margin-top: 20px;
  margin-left: 25px;
}

.PlaylistDetails {
  padding-top: 8px;
  margin-left: 25px;
  font-weight: 400;
  color: #FFF;
}

.PlaylistDuration {
  color: #b3b3b3
}

.DotSpace {
  margin-left: 1px;
  margin-right: 1px;
}



.TitleArtist {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.durationClock {
  fill: currentcolor;
}


.ellipsis-one-line,
.standalone-ellipsis-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.standalone-ellipsis-one-line {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  white-space: unset;
  word-break: break-all
}

html {
  scrollbar-color: hsla(0, 0%, 100%, .3) transparent;
  scrollbar-width: auto
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, .3)
}

html {
  background-color: #121212;
  height: 100%
}

body,
input {
  color: #b3b3b3;
  text-transform: none
}



body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-overflow-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  line-height: normal;
  min-height: 600px;
  min-width: 800px;
  scrollbar-width: none;
  width: 100%
}


.PlaylistGrid {
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  margin-left: 25px;
  margin-right: 25px;
}


.PlaylistGrid[aria-colcount="2"]:not(.WidthToggle) .GridSizing {
  grid-template-columns: [first] 4fr [last] minmax(120px, 1fr)
}

.PlaylistGrid[aria-colcount="2"]:not(.WidthToggle) .GridWidthScaling {
  display: none
}

.PlaylistGrid[aria-colcount="3"]:not(.WidthToggle) .GridSizing {
  grid-template-columns: [first] 4fr [var1] 2fr [last] minmax(120px, 1fr)
}

.PlaylistGrid[aria-colcount="3"]:not(.WidthToggle) .GridWidthScaling~.GridWidthScaling {
  display: none
}

.PlaylistGrid[aria-colcount="4"]:not(.WidthToggle) .GridSizing {
  grid-template-columns: [first] 4fr [var1] 2fr [var2] 2fr [last] minmax(120px, 1fr)
}

.PlaylistGrid[aria-colcount="4"]:not(.WidthToggle) .GridWidthScaling~.GridWidthScaling~.GridWidthScaling {
  display: none
}

.PlaylistGrid[aria-colcount="5"]:not(.WidthToggle) .GridSizing {
  grid-template-columns: [first] 4fr [var1] 2fr [var2] 2fr [var3] 2fr [last] minmax(120px, 1fr)
}

.PlaylistGrid.WidthToggle[aria-colcount="3"] .GridSizing {
  grid-template-columns: [index] 16px [first] 4fr [last] minmax(120px, 1fr)
}

.PlaylistGrid.WidthToggle[aria-colcount="3"] .GridWidthScaling {
  display: none
}

.PlaylistGrid.WidthToggle[aria-colcount="4"] .GridSizing {
  grid-template-columns: [index] 16px [first] 4fr [var1] 2fr [last] minmax(120px, 1fr)
}

.PlaylistGrid.WidthToggle[aria-colcount="4"] .GridWidthScaling~.GridWidthScaling {
  display: none
}

.PlaylistGrid.WidthToggle[aria-colcount="5"] .GridSizing {
  grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(120px, 1fr)
}

.PlaylistGrid.WidthToggle[aria-colcount="5"] .GridWidthScaling~.GridWidthScaling~.GridWidthScaling {
  display: none
}


@media(width <=1200px) {
  .Wn5NpEuR1Qw99DelnfxX .GridSizing {
    grid-template-columns: [index] 16px [first] 4fr [var1] 2fr [var2] 4fr [last] minmax(120px, 4fr)
  }
}

.PlaylistGrid.WidthToggle[aria-colcount="6"] .GridSizing {
  grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [var3] minmax(120px, 2fr) [last] minmax(120px, 1fr)
}

.PlaylistGrid.WidthToggle[aria-colcount="6"] .GridWidthScaling~.GridWidthScaling~.GridWidthScaling~.GridWidthScaling {
  display: none
}

.PlaylistGrid.WidthToggle[aria-colcount="7"] .GridSizing {
  grid-template-columns: [index] 16px [first] 6fr [var1] 3fr [var2] 3fr [var3] 2fr [var4] 2fr [last] minmax(120px, 1fr)
}

.GridSizing {
  grid-gap: 16px;
  display: grid;
  padding: 0 16px
}

.PlaylistTrackTitle {
  padding-bottom: 4px;
  color: #fff
}

.HeaderStyle {
  border-bottom: 1px solid transparent;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 36px;
  margin: 0 -16px 8px;
  padding: 0 16px;
  position: sticky;
  z-index: 2;
  background-color: #121212
}

@media(min-width: 1024px) {
  .HeaderStyle {
    margin: 0 -24px 16px;
    padding: 0 24px
  }
}

.PlaylistHeader {
  border-bottom: 1px solid hsla(0, 0%, 100%, .1);
  color: #b3b3b3;
  height: 36px
}


.GridSpacing {
  border: 1px solid transparent;
  border-radius: 4px;
  height: 56px;
  position: relative
}


.FlexCenter {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center
}


.PlaylistIndexSpacing {
  justify-self: end;
}

.PlaylistIndexSpacing,
.PlaylistTitle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.PlaylistTitle {
  justify-self: start;
}

.FlexEnd {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: last;
  justify-self: end
}


.GridWidthScaling {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: start
}






.GridWidthScaling a,
.ArtistSpacing a {
  color: #b3b3b3
}

.DurationStyle {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-variant-numeric: tabular-nums;
  justify-content: flex-end;
  width: 5ch
}


.PlaylistIndex {
  color: #b3b3b3;
  display: inline-block;
  height: 16px;
  min-height: 16px;
  min-width: 16px;
  position: relative;
  width: 16px
}